body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 55, 55);
    padding: 20;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
}

.movie {
    background: rgb(197, 135, 48);
    padding: 15px;
    border-radius: 7px;
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.movie a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-top: 8px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 242, 165);
    border-radius: 5px;
    border: 2px rgb(255, 183, 0) solid;
    font-size: 14px;
}


footer {
    background-color: rgba(230, 174, 44, 0.92);
    padding: 20px 40px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#loginbtn {
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    border-radius: 400px;
    width: 40px;
    height: 40px;

}

.logo p {
    color: #f39c12;
    margin: 0;
}

header {
    background-color: #111111;
    padding: 25px;
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;

}

header button {
    border: 3px solid rgb(129, 92, 23);
    border-radius: 5px;
    background-color: rgb(251, 190, 36);
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}